template(name="flowzCardDetails")
  section.card-details.js-card-details.js-perfect-scrollbar: .card-details-canvas
    .card-details-header
      +inlinedForm(classNames="js-card-details-title")
        +editCardTitleForm
      else
        a.fa.fa-times-thin.close-card-details.js-close-card-details
        if currentUser.isBoardMember
          a.fa.fa-navicon.card-details-menu.js-open-card-details-menu
        h2.card-details-title.js-card-title(
        class="{{#if canModifyCard}}js-open-inlined-form is-editable{{/if}}")
          +viewer
            = getTitle
            if isWatching
              i.fa.fa-eye.card-details-watch
        .card-details-path
          each parentList
            | &nbsp; &gt; &nbsp;
            a.js-parent-card(href=linkForCard) {{title}}
          // else
            {{_ 'top-level-card'}}
        if isLinkedCard
          h3.linked-card-location
            +viewer
              | {{getBoardTitle}} > {{getTitle}}

        if getArchived
          if isLinkedBoard
            p.warning {{_ 'board-archived'}}
          else
            p.warning {{_ 'card-archived'}}

        .card-details-items

          .card-details-item.card-details-item-due
            h3.card-details-item-title {{_ 'card-due'}}
            if getDue
              +cardDueDate
            else
              if canModifyCard
                a.js-due-date {{_ 'add'}}

          .card-details-item.card-details-item-name
            h3.card-details-item-title {{_ 'assigned-by'}}
            if canModifyCard
              +inlinedForm(classNames="js-card-details-assigner")
                +editCardAssignerForm
              else
              a.js-open-inlined-form
                if getAssignedBy
                  +viewer
                    = getAssignedBy
                else
                  | {{_ 'add'}}
            else if getRequestedBy
              +viewer
                = getAssignedBy

        .card-details-items
          .card-details-item.card-details-item-members
            h3.card-details-item-title {{_ 'members'}}
            each getMembers
              +userAvatar(userId=this cardId=../_id)
              | {{! XXX Hack to hide syntaxic coloration /// }}
            if canModifyCard
              a.member.add-member.card-details-item-add-button.js-add-members(title="{{_ 'card-members-title'}}")
                i.fa.fa-plus

          .card-details-item.card-details-item-labels
            h3.card-details-item-title {{_ 'labels'}}
            a(class="{{#if canModifyCard}}js-add-labels{{else}}is-disabled{{/if}}" title="{{_ 'card-labels-title'}}")
              each labels
                span.card-label(class="card-label-{{color}}" title=name)= name
            if canModifyCard
              a.card-label.add-label.js-add-labels(title="{{_ 'card-labels-title'}}")
                i.fa.fa-plus

        if this.cmsId
          +cmsEdit this
