template(name="cmsEdit")
  form.cms-edit
    h4 Sub headline
    div#cmsSubheadline(contenteditable='true') {{{ getSubheadline }}}
    h4 Body chunk
    div#cmsBody {{{ getBody }}}
    input(type='submit', value='save')
