.card-details .cms-edit
  [contenteditable]
    border 1px solid #ccc
    background white
    padding 10px
    margin-bottom 1em

    p
      &:first-child
        margin-top 0
      &:last-child
        margin-bottom 0

  #cmsBody
    min-height 70px
