template(name="rocketChat")
    if rocketChatToken
        div#rc-container
            button.js-toggle-chat Close
            iframe#rocketChat(src="{{getRocketChatHostname}}/channel/general/?layout=embedded")
