#rc-container
  position: fixed
  left: 0
  bottom: 0

  width: 400px
  display: flex
  flex-direction: column

  & button
    color: white;
    border-radius: 0

  & iframe
    display: flex
    flex-grow: 1
    height: 400px


